html{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div{
    background-color: grey;
    padding: 0px;
    margin: 0px;
}

img{
    visibility: hidden;
    padding: 0px;
    border: 0px;
    margin: 0px;
}


.headline{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color:black;
    font-family: Arial,sans-serif;
    background-color: rgb(25, 3, 225);
}

.imagebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonbox{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.swapbutton{
    background-color: lightblue;
    font-size: 25px;
    padding: 5px;
    border: 0px;
    margin: 5px;

}
